@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: "Roboto";
    background-image: url('img/ba.jpg');
}
.authorization{
    margin-top: 15%;
    margin-left: 40%;
    text-align: center;
    width: 250px;
}
input{
    margin-top: 8%;
    margin-left: 10%;
    width: 280px;
    height: 30px;
}
button{
    margin-top: 10%;
    margin-left: 35%;
    font-size: 120%;
    padding: 3%;
    border-radius: 20%;
}
button:hover{
    cursor: pointer;
    background-color: rgb(88, 88, 88);
    color: cornsilk;
}
.text{
    font-weight: 600;
    font-size: 350%;
    color: rgb(61, 61, 61);

}